* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}

html {
    scroll-behavior: smooth;
}

section {
    width: 100%;
    height: 100vh;
    background-image: url(image/bg1.png);
    background-size: cover;
    background-position: center;
}

section nav {
    /* width: 100%;
    height: 57px; */
    box-shadow: 0px 1px 6px gray;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

section nav .logo {
    font-size: 35px;
    color: #c72092;
    margin: 5px 0;
    cursor: pointer;
    position: relative;
    left: -4%;

}

section nav .logo span {
    color: #6c14d0;
    text-decoration: underline;
}

section nav ul {
    display: flex;
    list-style: none;
}

section nav ul li {
    margin: 5px 15px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    transition: 0.2s; 
}

nav ul li a:hover {
    color: #c72092;
}



section nav .icons i {
    margin: 0px 4px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

section nav .icons i:hover{
    color: #c72092;
}

section .main .main-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

section .main .main-container .main-text h1{
    font-size: 90px;
    line-height: 70px;
    font-family: pyxidium quick;
    background: linear-gradient(to right, #c72092,#6c14d0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    left: 5%;
    top: 45px;
}    

section .main .main-container .main-text h1 span{
    font-size: 70px;
    background: linear-gradient(to right, #c72092,#6c14d0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}    

section .main .main-container .main-text p{
    width: 600px;
    text-align: justify;
    line-height: 21px;
    position: relative;
    top: 85px;
    left: 5%;
}

section .main .main-container .main-image img{
    width: 650px;
    position: relative;
    top: 75px;
    left: 20px;

}

section .main .social-icons{
    position: absolute;
    top: 50%;
    left: 98%;
    transform: translate(-50%, -50%);
    font-size: 19px;
}

section .main .social-icons i{
    margin: 8px 8px;
    cursor: pointer;
    transition: 0.3s;
}

section .main .social-icons i:hover{
    color: #c72092;
}

section .main .button{
    position: absolute;
    left: 6%;
    padding: 10px 20px;
    border-radius: 30px;
    background: linear-gradient(to right,#c72092,#6c14d0);
    text-align: center;
    cursor: pointer;

}

section .main .button a{
        text-decoration: none;
        color: white;
}

section .main .button i{
    margin-left: 5px;
    color: white;
    transition: 0.3s;
}

section .main .button:hover i{
    transform: translateX(6px);
}
